
/* ----------------------------------------------------------------

	blog.scss

-----------------------------------------------------------------*/

/* ----------------------------------------------------------------
	Blog
-----------------------------------------------------------------*/

.post {
	position: relative;
	margin-bottom: 1.875rem;
}

.post-thumbnail {
	min-width: 9.65rem;

	img {
		width: 100%;
		border-radius: 1rem;
	}
}

.post-content {
	.entry-title {
		font-weight: 700;
		color: $secondary;
		line-height: 1.35;
	}

	.entry-meta {
		a {
			font-size: 0.75rem;
			color: #ceb1aa;
			letter-spacing: 0.05rem;
		}
	}

	.entry-content {
		line-height: 2;
	}
}
