
/* ----------------------------------------------------------------

	extras.scss

-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Extra Styles
-----------------------------------------------------------------*/
.shipping-banner {
	position: absolute;
	left: 4.375rem;
	top: 5.625rem;	
}

.container-fluid {
	overflow: hidden;
}

.about-banner {
	position: relative;
    bottom: -7rem;
    margin-top: -5rem;
}

.categories {
	margin-bottom: 3.5rem;

	ul {
		li {
			margin-bottom: .3rem;

			a {
				display: inline-block;
				width: 100%;
				padding: 0.5rem 2rem;
				background-color: $white;
				font-size: 0.875rem;
				color: $dark;
				text-transform: uppercase;
				border-radius: 2rem;

				&:hover {
					background-color: $theme-color;
					color: $white;
				}
			}
		}
	}
}