
/* ----------------------------------------------------------------

	header.scss

-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Header
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Add here styles for header. Thanks!
-----------------------------------------------------------------*/


#header {
	position: relative;	

	// Transparent header
	&.transparent-header {
		background-color: #857db8;
		z-index: 199;

		@include media-breakpoint-up(lg) {
			background-color: transparent;

			& + #content,
			& + #error-404 {
				position: relative;
				top: -$header-height;
				margin-bottom: -$header-height;
			}
		}			
	}
}


/* ----------------------------------------------------------------
	Sticky Header
-----------------------------------------------------------------*/

/* ----------------------------------------------------------------
	Logo
-----------------------------------------------------------------*/
.navbar {
	padding-top: 1rem;
    padding-bottom: 1rem;
}

.navbar-brand {
	img {
		width: 6rem;
		height: auto;
		z-index: 1;
	}
}


/* ----------------------------------------------------------------
	Primary Menu
-----------------------------------------------------------------*/

#primary-menu {
	width: 70%;
	border-top: 1px solid #f7f4f5;

	.nav-link {
		color: $primary-menu-font-color;
		font-family: $primary-menu-font;
		font-size: $primary-menu-font-size;
		font-weight: $primary-menu-font-weight;		
		letter-spacing: $primary-menu-font-spacing;
		text-transform: $primary-menu-font-tt;

		&:hover {
			color: $theme-color;
		}
	}

	@include media-breakpoint-down(lg) {
		width: 100%;
	}
}


/* ----------------------------------------------------------------
	Mega Menu
-----------------------------------------------------------------*/

// Please ignore mega menu now 


/* ----------------------------------------------------------------
	Top Buttons
-----------------------------------------------------------------*/


#top-btns {
	z-index: 1;

	.nav-link {
		font-family: $body-font;
		color: $dark;		
		font-size: 0.9375rem;	
		font-weight: 300;
		line-height: 1;
		z-index: 1;

		&:hover {
			color: $theme-color;
		}
	}

	&.bg-white {
		&:after {
			position: absolute;
			top: 0;
			right: 0;
			display: inline-block;
			content: "";
			background-color: $white;
			height: 100%;
			width: 30%;
			z-index: -1;
			border-top-left-radius: 2rem;
			border-bottom-left-radius: 2rem;
		}
	}
}


/* ----------------------------------------------------------------
	Top Links
-----------------------------------------------------------------*/

#top-links {
	margin-left: 2rem;

	a.nav-link {
		font-family: $body-font;
		color: $white;
		display: block;
		font-size: 0.75rem;	
		font-weight: 300;

		&:hover {
			color: $dark;
		}
	}

	.dropdown-toggle {
		&::after {
			margin-left: .75em;
		}
	}

	.dropdown-menu {
		background: $white;
		border: 0;
		top: $topbar-line-height;
		left: 0;
		width: 100%;		
		margin: 0;
		border-top: 3px solid $theme-color;

		@include border-radius(0);

		@include box-shadow(0 0 5px -1px rgba($black, 0.2));
		
		@include media-breakpoint-up(lg) {
			width: 8.75rem;
		}

		a.dropdown-item {
			color: $heading-color;
			height: 2.25rem;
			line-height: 2.25rem;
			font-size: 0.75rem;				
			padding: 0 0.75rem;

			&:hover {
				color: $theme-color;
			}
		}
	}

	&.bg-primary {
		&:before {
			position: absolute;
			top: 0;
			left: 0;
			display: inline-block;
			content: "";
			width: 68%;
			height: 100%;
			background-color: $theme-color;
			border-top-right-radius: 2rem;
			border-bottom-right-radius: 2rem;

			@include media-breakpoint-down(lg) {
				display: none;
			}
		}
	}
	
	@include media-breakpoint-down(lg) {
		margin: 0;
	}
}


/* ----------------------------------------------------------------
	Top Infos
-----------------------------------------------------------------*/

#top-infos {
	display: flex;

	.phone-number {
		margin-right: 2.875rem;
		
		a {
			color: $topbar-color;
			margin-left: 1.75rem;

			&:hover {
				color: $topbar-hover-color;
			}
		}
	}
}


/* ----------------------------------------------------------------
	Top Social
-----------------------------------------------------------------*/

#top-social,
#top-social ul { margin: 0; }

#top-social {
	ul {
		display: flex;
		align-items: center;
	}

	li {
		padding: 0 0.25rem;

		a {
			background-color: rgba($topbar-color, 0.7);
			border-radius: 50%;
			color: rgba($topbar-hover-color, 0.7);
			display: inline-block;
			line-height: 1.8125rem;
			width: 1.8125rem;
			height: 1.8125rem;		
			vertical-align: middle;
			text-align: center;

			&:hover {
				color: $topbar-hover-color;
			}

			i {
				vertical-align: top;
				line-height: 1.8125rem;
			}
		}
	}
}


/* ----------------------------------------------------------------
	Top product
-----------------------------------------------------------------*/
#top-product {
	.product-image {
		img {
			height: 19.5rem !important;
    		min-height: unset !important;
		}
	}

	.product-details {
		position: absolute;
		left: 0;
		bottom: 1rem;
	}
}


/* ----------------------------------------------------------------
	Top Search
-----------------------------------------------------------------*/




/* ----------------------------------------------------------------
	Top Cart
-----------------------------------------------------------------*/




/* ----------------------------------------------------------------
	Top Account
-----------------------------------------------------------------*/






