
/*-----------------------------------------------------------------------------------

	Shortcodes: feature-box.scss

-----------------------------------------------------------------------------------*/

/* ----------------------------------------------------------------
	Featured Boxes
-----------------------------------------------------------------*/
.fbox {
	margin-bottom: 1rem;

	.fbox-icon {
		margin-bottom: 0.875rem;

		img {
			max-width: 1.5rem;
			height: 1.5rem;
		}
	}

	p {
		font-family: 'Poppins', sans-serif;
		font-weight: 700;
	}

	h6 {
		color: #aaaaa8;
	}
}