
/*-----------------------------------------------------------------------------------

	Shortcodes: icon-box.scss

-----------------------------------------------------------------------------------*/

/* ----------------------------------------------------------------
	Icon Box Styles
-----------------------------------------------------------------*/


.icon-box {
	display: block;
	margin-bottom: 1rem;

	.icon-header {
		h4 {
			color: $theme-color;
			font-family: $heading-font;
			font-size: 1.625rem;
			margin-bottom: 0.75;
			min-width: 10.625rem;		
		}

		span {
			font-weight: 300;
			line-height: 1.5rem;
			color: #8f8f8f;
		}
	}
}